<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Recent Tweets</h3>
  </div>
  <div class="panel-body">
    <div class="list-group">
      <div *ngFor='let tweet of tweets '>
        <a href="#" class="list-group-item">
          <h4 class="list-group-item-heading">
            <img [src]='tweet.user.profile_image_url' [title]='tweet.user.screen_name'> {{tweet.user.name}}
          </h4>
          <p class="list-group-item-text"> {{tweet.text}}</p>
        </a>
      </div>
    </div>
  </div>
</div>