
<div class="row">
     <div *ngIf="auth.authenticated() && auth.userProfile">
    <h4>You are logged in</h4>
    <div class="row">
      <div class="col-md-6">
        <h3>Profile</h3>
        <img [src]="auth.userProfile.picture" alt="" class="profile-img">
        <p><strong>Name: </strong> {{auth.userProfile.name}}</p>
        <p><strong>Email: </strong> {{auth.userProfile.email}}</p>
        <p><strong>Nickname: </strong> {{auth.userProfile.nickname}}</p>
        <p><strong>Created At: </strong> {{auth.userProfile.created_at}}</p>
        <p><strong>Updated At: </strong> {{auth.userProfile.updated_at}}</p>
      </div>
    </div>
  </div>
  <h4 *ngIf="!auth.authenticated()">You are not logged in, please click 'Log in' button to login</h4>
</div>

<app-tweet-textbox>

</app-tweet-textbox>


<br />



<div class='panel panel-primary'>
    <div class='panel-heading'>
        User Timeline
    </div>

    <!-- Filter the Products   -->
    <div class='panel-body'>
        <div class='table-responsive'>
            <table class='table'
                   *ngIf='timeline && timeline.length'>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>ReTweeted</th>
                        <th>Created</th>
                    </tr>
                </thead>
                <tbody>
                     <tr *ngFor='let tl of timeline '>
  
                        <td>{{ tl.user.name }}</td>
                        <td>{{ tl.retweet_count }}</td>
                        <td>{{ tl.created_at | date}}</td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<app-twitter-list>
</app-twitter-list>

-------------------------------------------------------------------------------
<app-twitter-followers>
</app-twitter-followers>